.about {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 50px;
}

.aboutText {
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}


@media (max-width: 768px) {
    .aboutText {
        width: auto;
    }
}