.header {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 1em 2em;
    position: sticky;
    top: 0px;

    background: transparent;
    z-index: 2000;
}

.logo {
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
}