.header {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 1em 2em;
    position: fixed;
    top: 0px;

    background: rgba(255, 255, 255, 0.021);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 2000;
}

.logo {
    font-weight: 800;
    font-size: 1em;
    text-transform: uppercase;
}