.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.name,
.animationText {
    font-size: clamp(2rem, 8vw, 6rem);
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    min-height: clamp(3rem, 10vw, 8rem);
    text-transform: uppercase;
}

.name {
    font-weight: 800;
}

.animationText {
    font-weight: 100;
    border-right: 2px solid black;
}